<li class="span3">
  <div class="thumbnail">
    <img src="http://placehold.it/260x180" alt="">
      <div class="caption">
        <h4>Your next course</h4>
        <p>We don't yet have any courses covering this subject. You can create a completely customizable course today, for free. Begin today.</p>
      <div>
    <%= link_to 'Course', new_course_path, :class => 'btn btn-mini btn-primary' %><span class="pull-right">Price: $0-500</span> 
  </div>
</li>


