<div class="row">
  <div class="span12"> 
    <div class="page-header">
      <h2>Use Policy</h2>
    </div>  
    
    <h2>Tutors Rules to Live By</h2>
    <br />
    <ol>
      <li>Only upload content that you own and are free to distribute and sell. Any infringement claims will likely result in the content being removed from the site.</li>
      <li>Do not upload any pornagraphic or offensive material. Site Name exists to help people better themselves. Don’t mess with it.</li>
      <li>Publisher payments are made via Paypal on the 1st of every month.</li>
      <li>Publisher payments will only be made once the publisher is owed $20 or more.</li>
      <li>Site Name retains 20% of the listed course price plus a merchant account fee of <a href="https://stripe.com/help/pricing">2.9% + $0.30</a>. All remaining funds will be paid to the publisher.</li> 
      <li>Site Name does not take any responsibility for any additional transaction or currency conversion fees the publisher may incur from their bank.</li>
      <li>All financial figures are in USD.</li>
    </ol>  
    <br />  
    <h2>Student Must Do’s</h2>
    <br />
    <ol>  
      <li>Congratulate yourself for making a conscious decision to improve your life.</ol>
    </ol>  
  </div>  