.row
  .span8
    .page-header
      %h2
        Lesson
        %small Describe what will be covered in the lesson
        
    = render :partial => 'form'

  .span4
    .page-header
      %h2 Remember
    %p Your video lecture and/or practical demonstration. Each video should be no longer than 10 mins. If you material is longer than 5 mins, consider adding a new lesson to the course.
    
    %div{:style => "padding-top: 36px"}
      %p The video, lesson overview and lesson exercise will be hidden from a user that has not purchased your course. Therefore, it's in this section that you need to provide value. Clearly detail how to work through the course, what's involved and how it will help.
      
    %div{:style => "padding-top: 118px"}
      %p Site Name courses should be practical in nature. This is where the true value of your course should be demonstrated. Lessons are better understood through practical exercises. List as many associated exercises as you like that will help the student better understand the material detailed in the video. You may also suggest a timeframe it should take a student to complete the exercises and how to handle fears, rejection and any other obstacles.