<div class="fields">
  <div class="page-header">	
  	<h2>Lesson Exercises <small> Exercises reinforce the lesson</small></h2>
  </div>	
	<p class="fields">
		<%= f.label :practical_exercise, :class => 'control-label' %>
		<%= f.text_area :practical_exercise, :class => 'span5' %>
	</p> 
  </div>
