= link_to("#", :class => "btn-large btn-info prevtab") do
  <i class="icon-chevron-left icon-white"></i> Back
&nbsp;
= link_to("#", :class => "btn-large btn-success nexttab") do
  Next <i class="icon-chevron-right icon-white"></i> 
&nbsp;

