<div class="row">
  <div class="span8"> 
    <div class="page-header">
      <h2>Create your course <small>And begin changing the lives of many</small></h2>
    </div>
    
    <h2>Define your course structure</h2>
    
    <p>
      Break down your course by lessons and give practical exercises to help
      students understand the lesson.
      Begin by providing an overview of the course and what students can expect to learn.
    </p>
    
    <hr>
    
    <%= render :partial => 'form' %>
  
  </div>	
  
  <div class="span4">
    <div class="page-header">
      <h2>Course tips</h2>
    </div>
    <div class="well">
			<p>Check the tips below as you complete the form to get the most out of your course.</p> 
		</div>
    
    <ul>
      <li>Give your course a name that clearly indicates what's being taught.</li>
      <br />
      <li>Provide an overview of your personal background and why you're working to help others master this topic. Make note of any teaching or training credentials or experience you may have.</li>
      <br />
      <li>Detail what will be covered in the course. This is what perspective students will read to determine if they purchase the course. Here you should detail what will be covered in the course, and who should take it.</li>      
      <br />
      <li>Why is someone going to take this course? Give details about what the student will be able to achieve by mastering this course and how that skill can transform his life.</li>
      <br />
      <li>1 for beginner courses and 5 for advanced</li>
      <br />
      <li>From $0 to $500</li>
    </ul>
</div>	